#card{
    margin: auto;
    margin-top: 6rem;
    display: flex;
    background-color: red;
    border-color: burlywood;
    border-width: .5rem;
}
#button1, #button2{
    display: flex;
    background-color: burlywood;
}
